<app-navbar></app-navbar>
<div id="parte1">
    <h1 id="part1_h1">Sirio UPC</h1>
    <p id="part1_p">Proyecto aeroespacial que competirá en el Concurso Iberoamericano de Satélites Enlatados 2023</p>
</div>
<div id="parte2">
    <h1>Somos</h1>
    <p>un equipo multidisciplinario de estudiantes de la Universidad Peruana de Ciencias Aplicadas (UPC), que forma parte de AESS UPC. </p>
    <img src="../../../assets/images/home/imgsomos.png">
</div>
<div id="parte3">
    <h3>“El hombre no puede vivir sin tratar de escribir y explicar el universo” - Isasia Berlin</h3>
</div>
<div id="parte4">
    <h2>Echa un vistaso a</h2>
    <p>algunos proyectos que con mucho orgullo hemos realizado</p>
    <div id="proyectosss">
        <div id="proy1">
            <div id="textooo1">
                <h4>Proyecto 1</h4>
                <p>Lorem Ipsum is simply dummy text of theeeeeeeeeee.</p>
            </div>
        </div>
    </div>
    
    <button id="btn_pro">
        <p><a>Ver proyectos</a></p>
    </button>
</div>

<app-footer></app-footer>
