* {
    padding: 0;
    margin: 0;
    list-style-type: none;
    color: white;
}

.quienessomos {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    padding: 40px 32px;
    font-size: 20px;
    background-image: url("../../../assets/images/about/about-background.png");
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: center;
    align-items: center;
    padding-top: 150px;
    padding-bottom: 200px;
}

.text-p1 {
    grid-column: 2 / span 2;
    width: 300px;
}

.about-img {
    grid-column: 5 / span 4;
    margin: auto;
    background-color: white;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

.about-logo {
    background-color: transparent;
    width: 300px;
    height: auto;
}

.card-text {
    background-color: rgb(0, 0, 0, 0.5);
    font-family: 'Roboto';
}

.p2 {
    grid-column: 10 / span 2;
    width: 300px;
}

.p2>.title {
    font-family: 'Martel';
    margin-bottom: 50px;
    width: 400px;
}

.vision-historia {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background-color: #141D2E;
    align-items: flex-start;
    justify-content: flex-start;
    padding-top: 100px;
    padding-bottom: 100px;
    font-family: 'Roboto';
    font-size: 30px;
}

.historia {
    grid-column: 2 / span 2;
}

.vision-historia .card-text {
    background-color: #0a0f18;
    border-radius: 10%;
    -webkit-border-radius: 10%;
    -moz-border-radius: 10%;
    -ms-border-radius: 10%;
    -o-border-radius: 10%;
    padding: 10%;
    margin-bottom: 50px;
}

.vision-historia-img {
    grid-column: 5 / span 4;
    margin: auto;
    width: 300px;
    height: auto;
    border-radius: 20%;
    -webkit-border-radius: 20%;
    -moz-border-radius: 20%;
    -ms-border-radius: 20%;
    -o-border-radius: 20%;
}

.vision {
    grid-column: 10/ span 2;
}

.directorio {
    font-family: 'Martel';
    font-size: 60px;
}

.directorio-title {
    background-color: #0a0f18;
    text-align: center;
}