<app-navbar></app-navbar>
<div class="acerca-quienessomos-vision-mision">

    <div class="quienessomos">

        <div class="text-p1 card-text">
            <h2>Compromiso</h2>

            <div>
                <p>
                    Nuestro compromiso se refleja en nuestra dedicación a la difusión, la colaboración con diversos actores del ámbito aeroespacial, la generación de un impacto positivo en la sociedad y el entorno, así como en nuestra perseverancia para superar desafíos
                    y adaptarnos a cambios. Este compromiso impulsa nuestras acciones en pos de la excelencia y nos motiva a ser agentes de transformación y progreso en el campo aeroespacial.
                </p>
            </div>
        </div>

        <div class="about-img">
            <img class="about-logo" src="../../../assets/images/about/about-logo.png" alt="logo de Sirio">
        </div>

    </div>

    <div class="valores-vision-mision">
        <div class="bigcube">

            <p class="title-valores">
                Nuestros<br><span>Valores</span>
            </p>

            <div class="valores">

                <div class="innovacion card_img">

                    <div class="valores_circle_img">
                        <img src="../../../assets/images/about/img_innovacion.png" alt="an image representing innovation">
                    </div>
                    <h4 class="title-card_img">Innovacion</h4>
                    <div class="text-card-img">
                        <p>
                            Nos esforzamos por liderar la innovación en el campo aeroespacial. Valoramos la creatividad y la originalidad mientras buscamos soluciones audaces y transformadoras.
                        </p>
                    </div>
                </div>

                <div class="pasion card_img">

                    <div class="valores_circle_img">
                        <img src="../../../assets/images/about/img_pasion2.png" alt="an image representing passion">
                    </div>
                    <h4 class="title-card_img">Pasion</h4>
                    <div class="text-card-img">
                        <p>
                            Nuestra pasión por la exploración espacial y la tecnología es palpable. Canalizamos esta pasión para inspirar a otros y catalizar un cambio positivo en nuestra comunidad.
                        </p>
                    </div>
                </div>

                <div class="excelencia card_img">

                    <div class="valores_circle_img">
                        <img src="../../../assets/images/about/img_excelencia2.png" alt="an image representing excellence">
                    </div>
                    <h4 class="title-card_img">Excelencia</h4>
                    <div class="text-card-img">
                        <p>
                            Buscamos la excelencia incansablemente. Aprendemos de cada experiencia y utilizamos la retroalimentación para elevar constantemente nuestros estándares y lograr resultados excepcionales.
                        </p>
                    </div>
                </div>
            </div>

            <div class="simple-line"></div>

            <div class="vision-mision">

                <h4 class="vm-card-title MisionTitle">Nuestra Mision</h4>
                <div class="vm-card-text Mision">
                    Nuestra misión es fomentar la innovación aeroespacial mediante la colaboración interdisciplinaria, inspirando a futuras generaciones y contribuyendo al avance tecnológico y al bienestar social, con el objetivo de dejar una huella perdurable en la exploración
                    espacial y el conocimiento del espacio.
                </div>

                <img class="vm-card-astronaut" src="../../../assets/images/about/about-astronaut.png" alt="an astronaut">

                <h4 class="vm-card-title VisionTitle">Nuestra Vision</h4>
                <div class="vm-card-text Vision">
                    Nuestra visión es aspirar a ser líderes globales en el ámbito aeroespacial, impulsando la innovación y formando líderes destacados. Visualizamos un futuro donde nuestros avances inspiren el progreso en la sociedad, impulsando la investigación espacial
                    y contribuyendo al crecimiento sostenible y desarrollo humano mediante la exploración espacial y la pasión constante.
                </div>
            </div>
        </div>
    </div>

</div>
