<app-navbar></app-navbar>
<div class="quienessomos">
    <div class="text-p1 card-text">
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Laudantium eos nisi harum quidem deleniti expedita repellendus exercitationem, adipisci vel assumenda dolorem earum eligendi in nihil, pariatur consectetur iste labore similique.
    </div>
    <div class="about-img">
        <img class="about-logo" src="../../../assets/images/about/about-logo.png" alt="logo de Sirio">
    </div>
    <div class="p2">
        <h1 class="title">Quienes Somos</h1>
        <div class="text-p2 card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Aperiam ea mollitia recusandae officia dicta temporibus perferendis itaque quasi, consequuntur laboriosam?</div>
    </div>
</div>
<div class="vision-historia">
    <div class="historia">
        <div class="text-historia">

        </div>
    </div>
    <div class="img">

    </div>
    <div class="vision">
        <div class="text-vision">

        </div>
    </div>
</div>
<div class="directorio">
    <div class="card-dir">
        <img src="" alt="">
        <h2 class="name"></h2>
        <p class="card-dir-text"></p>
    </div>

</div>