
<div id="Proyecto1" class="grid-layout">
  <div class="columns"></div>
  <div class="dataProject">
    <h1>Nombre del Proyecto</h1>
    <br>
    <h3>Año: 2023</h3>
    <h3>Concurso: Concurso 1</h3>
    <h3>Categoria: Categoria 1</h3>
  </div>
  <div class="projectTeamImage">
    <img src="assets/images/proyectos/teamProjectExample.png" alt="Proyecto1">
  </div>
  <div class="advisor">
    <h4 class="subrayado">Asesor</h4>
    <p class="advisorName">Tom Hollander</p>
    <p class="advisorEmail">hollander@gmail.com</p>
  </div>
  <div class="institution">
    <h4 class="subrayado">Institución</h4>
    <img class="logoInstitution" src="assets/images/proyectos/upcLogo.png" alt="LogoInstitution">
    <p class="nameInstitution">Universidad Peruana de Ciencias Aplicadas</p>
  </div>
  <div class="tituloIntegrantes">
    <h4 class="subrayado">Integrantes</h4>
  </div>

  <div class="members">


    <div class="member">
      <p class="memberEmail">hollander@gmail.com</p>
      <div class="participacion">
        <p class="participacionTextElectronica">Electronica</p>
        <p class="participacionTextPruebas">Pruebas</p>
        <p class="participacionTextControl">Control y Programación</p>
        <p class="participacionTextIntegracion">Integración</p>
      </div>
    </div>
    <div class="member">
      <p class="memberEmail">hollander@gmail.com</p>
      <div class="participacion">
        <p class="participacionTextMecanica">Mecanica</p>
        <p class="participacionTextPruebas">Pruebas</p>
        <p class="participacionTextControl">Control y Programación</p>
        <p class="participacionTextIntegracion">Integración</p>
      </div>
    </div>
    <div class="member">
      <p class="memberEmail">hollander@gmail.com</p>
      <div class="participacion">
        <p class="participacionTextIntegracion">Integración</p>
        <p class="participacionTextPruebas">Pruebas</p>
        <p class="participacionTextControl">Control y Programación</p>
      </div>
    </div>
    <div class="member">
      <p class="memberEmail">hollander@gmail.com</p>
      <div class="participacion">
        <p class="participacionTextControl">Control y programación</p>
        <p class="participacionTextIntegracion">Integración</p>
        <p class="participacionTextPruebas">Pruebas</p>
        <p class="participacionTextIng">Ing. Sistemas</p>
      </div>
    </div>
    <div class="member">
      <p class="memberEmail">hollander@gmail.com</p>
      <div class="participacion">
        <p class="participacionTextControl">Control y programación</p>
        <p class="participacionTextIntegracion">Integración</p>
        <p class="participacionTextPruebas">Pruebas</p>
      </div>
    </div>
    <div class="member">
      <p class="memberEmail">hollander@gmail.com</p>
      <div class="participacion">
        <p class="participacionTextControl">Control y programación</p>
        <p class="participacionTextIntegracion">Integración</p>
        <p class="participacionTextPruebas">Pruebas</p>
      </div>
    </div>
  </div>
  <div class="informacion">
    <div class="tituloInformacion">
      <h4>INFORMACIÓN</h4>
    </div>
    <div class="imgInformacion">
      <img src="assets\images\proyectos\satellite2_recort.png" alt="imgDeInformacion"/>
    </div>
    <div class="textInformacion">
      <p>El proyecto consiste en la creación de un satélite que pueda ser lanzado al espacio y que pueda cumplir con las
        funciones de un satélite real. El satélite debe ser capaz de comunicarse con la estación base, enviar
        información y recibir información. El satélite debe ser capaz de realizar un aterrizaje controlado en la
        superficie de la tierra.</p>
    </div>
  </div>
  <div class="especificaciones">
    <div class="tituloEspecificaciones">
      <h4>ESPECIFICACIONES</h4>
    </div>
    <div class="subtitulo">
      <h5>•&nbsp;&nbsp;&nbsp;Electronica</h5>
    </div>
    <div class="electronicaInfo">
      <p>Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for previewing
        layouts and visual mockups.</p>
    </div>
    <div class="imgElectronica1">
      <img src="assets\images\proyectos\electronica1.png" alt="imgElectronica1"/>
    </div>
    <div class="imgElectronica2">
      <img src="assets\images\proyectos\electronica2.png" alt="imgElectronica2"/>
    </div>
    <div class="subtitulo">
      <h5>•&nbsp;&nbsp;&nbsp;Control y Programación</h5>
    </div>
    <h6 class="subSubtitulo">1.&nbsp;&nbsp;&nbsp;COMPONENTES:</h6>
    <p class="info">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
      previewing layouts and visual mockups.</p>
    <h6 class="subSubtitulo">2.&nbsp;&nbsp;&nbsp;ALGORITMOS:</h6>
    <p class="info">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
      previewing layouts and visual mockups.</p>
    <h6 class="subSubtitulo">3.&nbsp;&nbsp;&nbsp;SIMULACIONES:</h6>
    <p class="info">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
      previewing layouts and visual mockups.</p>
    <h6 class="subSubtitulo">4.&nbsp;&nbsp;&nbsp;PROTOCOLOS:</h6>
    <p class="info">Lorem ipsum is placeholder text commonly used in the graphic, print, and publishing industries for
      previewing layouts and visual mockups.</p>
    <div class="subtitulo">
      <h5>•&nbsp;&nbsp;&nbsp;Mecánica</h5>
    </div>
    <p class="infoMecanica">Lorem ipsum dolor sit amet consectetur adipiscing elit eget leo et mollis, ullamcorper etiam sociis sagittis
      himenaeos duis dui primis convallis ridiculus eleifend, tellus quisque odio varius ante venenatis cursus
      hendrerit
      platea justo. Diam lacus vulputate duis tempus metus curae eu sollicitudin taciti enim ante netus, sagittis
      ultrices quam dictum integer mus..</p>
    <div class="imgMecanica1">
      <img src="assets\images\proyectos\mecanica1.png" alt="imgMecanica1"/>
    </div>
    <div class="imgMecanica2">
      <img src="assets\images\proyectos\mecanica2.png" alt="imgMecanica2"/>
    </div>
  </div>

</div>

