<app-navbar></app-navbar>

<div class="grid-layout">
  <div class="title">
    <h1>Noticias</h1>
  </div>

  <div class= "test" *ngIf= "info && info.length>0">
    <div class= "test" *ngFor="let infoData of info.slice(0, itemsToShow)">
      <div class ="test" *ngIf="infoData.id %2 ==0">
        <div class = "new">
          <div class="new1img">
            <img class="news1" src="../../../assets/images/noticias/news1.png">
          </div>
          <div class="newsDetails1">
            <h1>{{infoData.titulo}}</h1>
            <p>
              {{infoData.descripcion}}
            </p>
            <button>
              <p><a>Más información</a></p>
            </button>
          </div>
        </div>
        <hr class="line">
      </div>
      <div class ="test" *ngIf="infoData.id %2 != 0">
        <div class="new">
          <div class="newsDetails2">
            <h1>{{infoData.titulo}}</h1>
            <p>
              {{infoData.descripcion}}
            </p>
            <button>
              <p><a>Más información</a></p>
            </button>
          </div>
          <div class="new2img">
            <img class="news2" src="../../../assets/images/noticias/news2.png">
          </div>
        </div>
        <hr class="line">
      </div>
    </div>
  </div>

  <button class="verMas" *ngIf="itemsToShow <info.length" (click)="loadMore()">
    <p><a>Ver más</a></p>
  </button>

</div>
<app-footer></app-footer>
