body{
  margin: 0;
}

.grid-layout{
  background-image: url("../../../assets/images/noticias/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 32px;
  background-color: rgba(0,0,0,0.5);

  text-align: center;

}

.title{
  grid-column: span 12;
  color: white;
  margin-top: 5vw;
  margin-bottom: 5vw;
}
.title h1{
  font-family: 'Martel', serif;
  font-size: 8vh;
}
h1{
  font-family: 'Martel', serif;
}
p{
  font-family: 'Roboto', serif;
}

/*news*/

.new{
  border-radius: 39px;
  margin-bottom: 5vw;
  grid-column: 2/ span 10;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(0, 1fr));
  gap: 32px;
  text-align: center;
  background-color: #01111B;
  overflow: hidden;
}

/*newsimages*/
.new1img{
  grid-column: 1/ span 4;
}
.news1{
  width: 100%;
  height: 100%;
}
.new2img{
  grid-column: 9/ span 4;
}
.news2{
  width: 100%;
  height: 100%;
}
.new3img{
  grid-column: 1/ span 4;
}
.news3{
  width: 100%;
  height: 100%;
}
/*InfoNews*/
.newsDetails1{
  grid-column: 5/ span 6;
  text-align: center;
  color: white;
  margin-left: 0px;
  margin-top: 32px;
  margin-right: 32px;
  margin-bottom: 32px;
}
.newsDetails1 h1{
  font-size: 4vw;
}
.newsDetails1 p{
  font-size: 1.5vw;
}
.newsDetails2{
  grid-column: 2/ span 6;
  text-align: center;
  color: white;
  margin-left: 32px;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 32px;
}
.newsDetails2 h1{
  font-size: 4vw;
}
.newsDetails2 p{
  font-size: 1.5vw;
}
.newsDetails3{
  grid-column: 5/ span 6;
  text-align: center;
  color: white;
  padding: 32px;
  margin-left: 0px;
  margin-top: 32px;
  margin-right: 0px;
  margin-bottom: 32px;
}
.newsDetails3 h1{
  font-size: 4vw;
}
.newsDetails3 p{
  font-size: 1.5vw;
}
button{
  border: 1px solid white;
  background-color: transparent;
  color: white;
  border-radius: 29px;
  padding-right: 3vh;
  padding-left: 3vh;
  padding-top: 2vmin;
  padding-bottom: 0vmin;
  margin: 1vw;

  cursor: pointer;
  transition: all 0.3s ease 0s;
}
button p{
  font-size: 1.5vw;
}

button:hover {
  background-color: white;
  color: #01111B;
  transform: scale(1.1);
}

@media screen and (max-width: 426px)
{
  .grid-layout{
    gap: 0;
  }
  .new{
    gap:0;
  }

  .newsDetails1 p{
    font-size: 2vw;
  }

  .newsDetails2 p{
    font-size: 2vw;
  }

  .newsDetails3 p{
    font-size: 2vw;
  }
  button{
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 29px;
    padding-right: 3vh;
    padding-left: 3vh;
    padding-top: 3vmin;
  }
  .new1img{
    display: flex;
    align-items: center;
  }
  .news1{
    width: 100%;
    height: 70%;
  }
  .new2img{
    display: flex;
    align-items: center;
  }
  .news2{
    width: 100%;
    height: 70%;
  }
  .new3img{
    display: flex;
    align-items: center;
  }
  .news3{
    width: 100%;
    height: 70%;
  }
}
@media screen and (max-width: 375px) {


}




