<nav class="container-fluid navbar navbar-expand-lg">
  <div class="navbar-brand">
    <a routerLink="/Inicio">
      <img src="../../../assets/logo_Sirio.jpg" alt="logo de Sirio" width="86" height="88">
    </a>
  </div>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
  </button>
  <div class="collapse navbar-collapse navbar-nav" id="navbarSupportedContent">
    <ul>
      <li class="nav-link">
        <a class="nav-link nav-item" routerLinkActive="active" routerLink="/Contacto">Contacto</a>
      </li>
      <li class="nav-link">
        <a class="nav-link nav-item" routerLinkActive="active" routerLink="/Noticias">Noticias</a>
      </li>
      <li class="nav-link">
        <a class="nav-link nav-item" routerLinkActive="active" routerLink="/Diviertete">Diviertete</a>
      </li>
      <li class="nav-link">
        <a class="nav-link nav-item" routerLinkActive="active" routerLink="/Proyectos">Proyectos</a>
      </li>
      <li class="nav-link">
        <a class="nav-link nav-item" routerLinkActive="active" routerLink="/Acerca">Acerca de</a>
      </li>
      <li class="nav-link">
        <a class="nav-link nav-item" routerLinkActive="active" routerLink="/Inicio">Home</a>
      </li>
    </ul> 
  </div>
</nav>

