<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="">
      <img src="../../../assets/logo_Sirio.jpg" alt="logo de Sirio" width="86" height="88" class="d-inline-block">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa-solid fa-bars" style="color: #ffffff;"></i>
    </button>
    <nav class="collapse navbar-collapse navbar-nav" id="navbarSupportedContent">
          <a class="nav-link nav-item" routerLinkActive="active" routerLink="">Home</a>
          <a class="nav-link nav-item" routerLinkActive="active" routerLink="Acerca">Acerca de</a>
          <a class="nav-link nav-item" routerLinkActive="active" routerLink="Proyectos">Proyectos</a>
          <a class="nav-link nav-item" routerLinkActive="active" routerLink="Diviertete">Diviertete</a>
          <a class="nav-link nav-item" routerLinkActive="active" routerLink="Noticias">Noticias</a>
          <a class="nav-link nav-item" routerLinkActive="active" routerLink="Contacto">Contacto</a>
    </nav>
  </div>
</nav>
