<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="../../../assets/logo_Sirio.jpg" alt="logo de Sirio" width="86" height="88" class="d-inline-block">
    </a>
    <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a class="nav-link active text-white" aria-current="page" href="#">Home</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link text-white" href="#">Acerca de</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link text-white" href="#">Proyectos</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link text-white" href="#">Diviertete</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link text-white" href="#">Noticias</a>
        </li>
        <li class="nav-item"> 
          <a class="nav-link text-white" href="#">Contacto</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
