* {
    background-color: #141D2E;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.navbar {
    display: grid;
    width: 100vw;
    justify-content: unset;
}

.navbar>.container-fluid {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    align-items: center;
    font-family: 'Roboto';
    font-size: 20px;
    padding: 40px 32px;
    width: 100vw;
}

.navbar-brand {
    grid-column: 2 / span 1;
    padding-bottom: 30px;
}

.navbar-toggler {
    grid-column: 11/ span 1;
}

.navbar-collapse {
    grid-column: 11 / span 1;
    flex-direction: row-reverse;
}

.navbar-nav .nav-item {
    margin-left: 32px;
    text-align: center;
}

.navbar-brand img {
    width: 86px;
    height: 88px;
}

.navbar-nav .nav-link {
    color: white;
    padding-bottom: 2px;
}

.navbar-nav .nav-link.active {
    padding-bottom: 10.5px;
    border-bottom: 3px solid white;
}

.navbar-nav .nav-link:hover {
    color: #0047FF;
}

.navbar-nav .nav-item:not(:last-child) .nav-link {
    margin-bottom: 8px;
}

@media (max-width: 2560px) {
    .navbar-toggler {
        font-size: larger;
    }
    .navbar {
        display: grid;
        width: 100vw;
    }
    .navbar>.container-fluid {
        font-size: 30px;
        padding: 40px 32px;
        max-width: 2560px;
    }
    .navbar-brand {
        padding-bottom: 30px;
    }
    .navbar-nav .nav-item {
        margin-left: 64px;
        text-align: center;
    }
    .navbar-brand img {
        width: 144px;
        height: max-content;
    }
    .navbar-nav .nav-link.active {
        padding-bottom: 10.5px;
        border-bottom: 3px solid white;
    }
    .navbar-nav .nav-item:not(:last-child) .nav-link {
        margin-bottom: 8px;
    }
}

@media (max-width: 1440px) {
    .navbar-toggler {
        font-size: large;
    }
    .navbar {
        display: grid;
        width: 100vw;
    }
    .navbar>.container-fluid {
        font-size: 20px;
        padding: 32px 24px;
        max-width: 1440px;
    }
    .navbar-brand {
        padding-bottom: 22px;
    }
    .navbar-nav .nav-item {
        margin-left: 48px;
        text-align: center;
    }
    .navbar-brand img {
        width: 112px;
        height: max-content;
    }
    .navbar-nav .nav-link.active {
        padding-bottom: 10.5px;
        border-bottom: 3px solid white;
    }
    .navbar-nav .nav-item:not(:last-child) .nav-link {
        margin-bottom: 6px;
    }
}

@media (max-width: 1024px) {
    .navbar-toggler {
        font-size: medium;
    }
    .navbar {
        display: grid;
        width: 100vw;
    }
    .navbar>.container-fluid {
        font-size: 16px;
        padding: 24px 16px;
        max-width: 1024px;
    }
    .navbar-brand {
        padding-bottom: 18px;
    }
    .navbar-nav .nav-item {
        margin-left: 24px;
        text-align: center;
    }
    .navbar-brand img {
        width: 88px;
        height: max-content;
    }
    .navbar-nav .nav-link.active {
        padding-bottom: 10.5px;
        border-bottom: 3px solid white;
    }
    .navbar-nav .nav-item:not(:last-child) .nav-link {
        margin-bottom: 4px;
    }
}

@media (max-width: 992px) {
    .navbar {
        display: grid;
        width: 100vw;
    }
    .navbar-collapse {
        grid-column: 6 / span 1;
    }
}

@media (min-width: 992px) {
    .navbar {
        display: grid;
        width: 100vw;
    }
    .navbar-collapse {
        grid-column: 11 / span 1;
    }
}

@media (max-width: 768px) {
    .navbar-toggler {
        font-size: small;
    }
    .navbar {
        display: grid;
        width: 100vw;
    }
    .navbar>.container-fluid {
        font-size: 14px;
        padding: 22px 14px;
        max-width: 768px;
    }
    .navbar-brand {
        padding-bottom: 16px;
    }
    .navbar-nav .nav-item {
        margin-left: 24px;
        text-align: center;
    }
    .navbar-brand img {
        width: 56px;
        height: max-content;
    }
    .navbar-nav .nav-link.active {
        padding-bottom: 10.5px;
        border-bottom: 3px solid white;
    }
    .navbar-nav .nav-item:not(:last-child) .nav-link {
        margin-bottom: 4px;
    }
}

@media (max-width: 425px) {
    .navbar {
        display: grid;
        width: 100vw;
        justify-content: unset;
    }
    .navbar-toggler {
        font-size: xx-small;
        width: 27px;
    }
    .navbar>.container-fluid {
        font-size: 14px;
        max-width: 425px;
    }
    .navbar-brand {
        padding-bottom: 12px;
    }
    .navbar-nav .nav-item {
        margin-left: 16px;
        text-align: center;
    }
    .navbar-brand img {
        width: 48px;
        height: max-content;
    }
    .navbar-nav .nav-link.active {
        padding-bottom: 10.5px;
        border-bottom: 3px solid white;
    }
    .navbar-nav .nav-item:not(:last-child) .nav-link {
        margin-bottom: 2px;
    }
}

@media (max-width: 375px) {
    .navbar {
        display: grid;
        width: 100vw;
        justify-content: unset;
    }
    .navbar-toggler {
        font-size: x-small;
    }
    .navbar>.container-fluid {
        font-size: 12px;
        max-width: 375px;
    }
    .navbar-brand {
        padding-bottom: 12px;
    }
    .navbar-nav .nav-item {
        margin-left: 16px;
        text-align: center;
    }
    .navbar-brand img {
        width: 48px;
        height: max-content;
    }
    .navbar-nav .nav-link.active {
        padding-bottom: 10.5px;
        border-bottom: 3px solid white;
    }
    .navbar-nav .nav-item:not(:last-child) .nav-link {
        margin-bottom: 2px;
    }
}

@media (max-width: 320px) {
    .navbar {
        display: grid;
        width: 100vw;
        justify-content: unset;
    }
    .navbar-toggler {
        font-size: xx-small;
    }
    .navbar>.container-fluid {
        font-size: 10px;
        max-width: 320px;
    }
    .navbar-brand {
        padding-bottom: 8px;
    }
    .navbar-nav .nav-item {
        margin-left: 14px;
        text-align: center;
    }
    .navbar-brand img {
        width: 40px;
        height: max-content;
    }
    .navbar-nav .nav-link.active {
        padding-bottom: 10.5px;
        border-bottom: 3px solid white;
    }
    .navbar-nav .nav-item:not(:last-child) .nav-link {
        margin-bottom: 2px;
    }
}