<app-navbar></app-navbar>
<div class="grid-layout">
  <div class="columns"></div>
  <div class="background">
    <div class="title">
      <h1>Contáctanos</h1>
    </div>
<form  action="https://formsubmit.co/" method="POST" class="form" >
      <div class="form-group">
        <input type="text" name="name" class="form-control" id="name" placeholder="Nombre">
        <br>
        <input type="text" name="email" class="form-control" id="email" placeholder="Correo">
        <br>
        <textarea class="form-text" name="message" id="message" placeholder="Escribe tu mensaje"></textarea>
        <br>
        <button type="submit" class="buttonForm">Enviar</button>
      </div>
    </form >

    <div class="contactInfo">
      <p>✉ Sirio@Sirio.com</p>
    </div>

    <div class="socialMedia">
      <a target="_blank" href="https://www.facebook.com"><i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i></a>
      <a target="_blank" href="https://www.twitter.com"><i class="fa-brands fa-twitter" style="color: #ffffff;"></i></a>
      <a target="_blank" href="https://pe.linkedin.com"><i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i></a>
      <a target="_blank" href="https://www.instagram.com"><i class="fa-brands fa-instagram" style="color: #ffffff;"></i></a>
    </div>

  </div>
</div>
<app-footer></app-footer>
