<app-navbar></app-navbar>
<div class="grid-layout">
    <div class="background">
        <div class="title">
            <h1>Contáctanos</h1>
        </div>
        <form class="form">
            <div class="form-group">
                <input type="text" class="form-control" id="name" placeholder="Nombre" [(ngModel)]="name" required>
                <br>
                <input type="text" class="form-control" id="email" placeholder="Correo" [(ngModel)]="email" required>
                <br>
                <textarea class="form-text" id="message" placeholder="Escribe tu mensaje" [(ngModel)]="message" required></textarea>
            </div>
        </form>

        <div class="buttonDiv">
            <button>
      <p><a>Enviar</a></p>
    </button>
        </div>

        <div class="contactInfo">
            <p>✉ Sirio@Sirio.com</p>
            <p>☏ +987 6541 3654</p>
        </div>

        <div class="socialMedia">
            <i class="fa-brands fa-facebook-f" style="color: #ffffff;"></i>
            <i class="fa-brands fa-twitter" style="color: #ffffff;"></i>
            <i class="fa-brands fa-linkedin-in" style="color: #ffffff;"></i>
            <i class="fa-brands fa-instagram" style="color: #ffffff;"></i>
        </div>

    </div>
</div>