<div class="directorio">
  <div class="directorio-title">Directorio</div>

  <div class="members">
    <div class="cardMember">
      <div class="memberInfo">
        <img src="assets/images/about/members/profile.png">
        <div class="socialLinks">
          <a target="_blank" href="https://www.facebook.com"><img src="assets/images/about/members/Facebook.png"></a>
          <a target="_blank" href="https://www.twitter.com"><img src="assets/images/about/members/Twitter.png"></a>
          <a target="_blank" href="https://pe.linkedin.com"><img src="assets/images/about/members/Linkedin.png"></a>
          <a target="_blank" href="https://www.instagram.com"><img src="assets/images/about/members/Instagram.png"></a>
        </div>
        <h1>Jose Oliden Martinez</h1>
        <p class="position">ADVISOR - ING. MECATRONICA</p>
        <p class="description">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et venenatis velit. Maecenas faci porttitor sem, et aliquam erat posuere id. Sed molestie, ligula a vestibulum, et aliquam erat posuere id.Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla et venenatis velit. Maecenas faci porttitor sem, et aliquam erat posuere id. Sed molestie, ligula a vestibulum, et aliquam erat posuere id.Lorem ipsum dolor sit amet.</p>
      </div>
    </div>
  </div>

  <div class="areas-menu">
    <div class="areas-menu-tittle">NUESTRAS AREAS</div>
    <div class="animation">
      <img src="../../../assets/images/about/Icons/icon-arrow.png" class="logo">
      <img src="../../../assets/images/about/Icons/icon-arrow.png" class="logo2">
      <img src="../../../assets/images/about/Icons/icon-arrow.png" class="logo3">
    </div>
    <ul class="menu">
        <div class="toggle">
            <img src="../../../assets/images/about/logo_Sirio.png" alt="logo Sirio">
        </div>
        <li style="--i: 0;" class="Desarrollo-Web">
            <a href="#">
                <img src="../../../assets/images/about/Icons/code-solid 1.svg">
            </a>
        </li>
        <svg style="--i: 0;" viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#0019FD" class="fill-231f20 fill-1286fa"></path></svg>
      <li style="--i: 1;" class="Disenio-Publicidad">
          <a href="#">
              <img src="../../../assets/images/about/Icons/palette-solid 1.svg">
          </a>
      </li>
      <svg style="--i: 1;" viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#de0d98" class="fill-231f20 fill-1286fa"></path></svg>

      <li style="--i: 2;" class="Electronica">
        <a href="#">
            <img src="../../../assets/images/about/Icons/microchip-solid 1.svg">
        </a>
      </li>
      <svg style="--i: 2;" viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#f1f503" class="fill-231f20 fill-1286fa"></path></svg>
      <li style="--i: 3;" class="Mecanica">
          <a href="#">
            <img src="../../../assets/images/about/Icons/wrench-solid 1.svg">
          </a>
      </li>
      <svg style="--i: 3;" viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#1fde11" class="fill-231f20 fill-1286fa"></path></svg>
      <li style="--i: 4;" class="Control-Programacion">
          <a href="#">
            <img src="../../../assets/images/about/Icons/gear-solid 1.svg">
          </a>
      </li>
      <svg style="--i: 4;" viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#03c1f5" class="fill-231f20 fill-1286fa"></path></svg>
      <li style="--i: 5;" class="otros rotated">
          <a href="#">
            <img src="../../../assets/images/about/Icons/ellipsis-solid 1.svg">
          </a>
      </li>
      <svg style="--i: 5;" viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#383B38" class="fill-231f20 fill-1286fa"></path></svg>
      <li style="--i: 6;" class="otros">
          <a href="#">
            <img src="../../../assets/images/about/Icons/ellipsis-solid 2.svg">
          </a>
      </li>
      <svg style="--i: 6;" viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#383B38" class="fill-231f20 fill-1286fa"></path></svg>
      <li style="--i: 7;" class="otros rotated">
          <a href="#">
            <img src="../../../assets/images/about/Icons/ellipsis-solid 3.svg">
          </a>
      </li>
      <svg style="--i: 7;" viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#383B38" class="fill-231f20 fill-1286fa"></path></svg>
    </ul>
    <ul class="lista-areas">
      <li>
        <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#0019FD" class="fill-231f20 fill-1286fa"></path></svg>
        <p>Desarrollo Web</p>
      </li>
      <li>
        <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#de0d98" class="fill-231f20 fill-1286fa"></path></svg>
        <p>Diseño y Publicidad</p>
      </li>
      <li>
        <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#f1f503" class="fill-231f20 fill-1286fa"></path></svg>
        <p>Electronica</p>
      </li>
      <li>
        <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#1fde11" class="fill-231f20 fill-1286fa"></path></svg>
        <p>Mecanica</p>
      </li>
      <li>
        <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#03c1f5" class="fill-231f20 fill-1286fa"></path></svg>
        <p>Control y Programacion</p>
      </li>
      <li>
        <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#080708" class="fill-231f20"></path></svg>
        <p>Otros</p>
      </li>
    </ul>
  </div>
</div>

