* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    list-style: none;
}

.directorio {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Martel';
    align-items: center;
    text-align: center;
}

.directorio-title {
    grid-column: 1 / span 12;
    font-size: 4vw;
    background-color: #0a0f18;
    justify-content: center;
}

/*President*/
.president{
  grid-column: span 12;
  grid-template-columns: repeat(12, 1fr);
  display: grid;
  background: #0D1525;
  align-items: center;
  justify-items: center;
}
.cardProfilePresident{
  grid-column: span 4;
}
.cardProfilePresident .profilePhoto{
  margin: 1vw;
  width: 15vw;
  height: auto;
}
.cardInfoPresident{
  grid-column: 5/ span 8;
  background-image: url('../../../assets/figure2.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 7vw;
  padding-bottom: 9vw;
  margin-top:5vw;
  margin-bottom:5vw;
}
.cardInfoPresident .fullName{
  font-size: 3vw;
  margin: 0.5vw;
}

/*MEMBERS*/

.members {
  grid-column: span 12;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  /* Divide el contenedor en 2 columnas para 2 tarjetas por fila */
  background: #0D1525;
  grid-gap: 1rem;
  /* Espacio entre las tarjetas de miembros */
}

.cardMember {
  background-image: url('../../../assets/figure.svg');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  align-items: center;
  justify-items: center;
  padding-top: 7vw;
  padding-bottom: 15vw;
}

.divider {
  grid-column: 1/ span 12;
  background-color: #0D1525;
  height: fit-content;
}

.hr1 {
  background-color: white;
  height: 5px;
  margin-right: 15vh;
  margin-left: 15vh;
  opacity: 100%;
  border-radius: 50rem
}

.memberInfo {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.cardMember .profilePhoto {
  margin: 1vw;
  width: 12vw;
  height: auto;
}

.cardMember .fullName {
  padding-right: 2.2vw;
  padding-left: 2.2vw;
  font-size: 2.5vw;
  margin: 0.5vw;
}

.position {
  font-size: 1.5vw;
  padding-right: 2.2vw;
  padding-left: 2.2vw;
  margin-bottom: 1vw;
  margin-right: 5vw;
  margin-left: 5vw;
}

.description {
  font-size: 1.2vw;
  padding-right: 7vw;
  padding-left: 9vw;
}

.socialLinks {
  display: flex;
}

.socialLinks .socialLink {
  margin-left: 0.5vw;
  margin-right: 0.5vw;
  margin-bottom: 1vw;
  margin-top: 1vw;
  border-radius: 100%;
  height: 3vw;
  width: auto;
}

@media screen and (max-width: 800px) {
  .cardInfoPresident{
    grid-column:span 12;
    padding-top: 10vw;
  }
  .cardProfilePresident{
    grid-column: span 12;
    margin-top: 5vw;
  }
  .cardProfilePresident .profilePhoto {
    margin: 1vw;
    width: 24vw;
    height: auto;
  }
  .cardInfoPresident .fullName {
    padding-right: 2.2vw;
    padding-left: 2.2vw;
    font-size: 5vw;
    margin: 1vw;
  }
  .cardMember {
    grid-column: span 12;
    padding-top: 11vw;
    padding-bottom: 25vw;
  }
  .memberInfo {
    padding-right: 6vw;
    padding-left: 8vw;
  }
  .socialLinks .socialLink {
    margin: 1vw;
    border-radius: 100%;
    height: 7vw;
    width: auto;
  }
  .cardMember .profilePhoto {
    margin: 1vw;
    width: 24vw;
    height: auto;
  }
  .cardMember .fullName {
    padding-right: 2.2vw;
    padding-left: 2.2vw;
    font-size: 5vw;
    margin: 1vw;
  }
  .position {
    font-size: 3vw;
    padding-right: 2.2vw;
    padding-left: 2.2vw;
    margin-bottom: 1vw;
    margin-right: 5vw;
    margin-left: 5vw;
  }
  .description {
    font-size: 2.5vw;
    padding-right: 7vw;
    padding-left: 9vw;
  }
}


/*///////////////////////////////////////////*/

.container_CircularAreasMenu {
    display: grid;
    grid-template-columns: repeat(12, auto);
    align-items: center;
    justify-content: center;
    background: #0D1525;
}

.container_CircularAreasMenu_Title {
    text-align: center;
    grid-column: 2 / span 10;
    font-size: 2vw;
    font-family: 'Roboto';
    font-weight: 800;
    text-decoration: underline;
    letter-spacing: 2px;
}

.animation-rows .row {
    height: auto;
    margin: 0px auto;
}

.noDisplay .row {
    display: none;
}

.row1 {
    width: 4vw;
}

.row2 {
    width: 2.5vw;
}

.row3 {
    width: 1vw;
}

.animationRows {
    margin-top: -10vw;
    display: grid;
    grid-column: 2 / span 10;
    justify-content: center;
    align-items: center;
    justify-items: center;
    width: auto;
    height: min-content;
    animation: moveUpDown 1s ease-in-out infinite alternate;
    -webkit-animation: moveUpDown 1s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(200%);
        -webkit-transform: translateY(200%);
        -moz-transform: translateY(200%);
        -ms-transform: translateY(200%);
        -o-transform: translateY(200%);
    }
    100% {
        transform: translateY(100%);
        -webkit-transform: translateY(100%);
        -moz-transform: translateY(100%);
        -ms-transform: translateY(100%);
        -o-transform: translateY(100%);
    }
}

.noDisplay {
    visibility: hidden;
    opacity: 0;
}

.CircularAreasMenu {
    grid-column: 2 / span 10;
    position: relative;
    width: 40vw;
    height: 38vw;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

a {
    height: min-content;
    width: min-content;
    display: flex;
}

.CircularAreasMenu .toggle {
    display: flex;
    z-index: 10;
    position: absolute;
    width: 15.33vw;
    height: 15.33vw;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.CircularAreasMenu .toggle .logoSirio {
    z-index: 10;
    width: 13.33vw;
    height: auto;
    display: flex;
}

.CircularAreasMenu .toggle.active {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.CircularAreasMenu .backgroundCircle {
    display: flex;
    background: conic-gradient(from 0deg, var(--color-stops));
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.CircularAreasMenu .backgroundCircle.active {
    width: 33.33vw;
    height: 33.33vw;
    visibility: visible;
    opacity: 1;
}

.CircularAreasMenu .backgroundCircle.inactive {
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
}

.CircularAreasMenu .AreaOption {
    display: flex;
    position: absolute;
    /*Calculate the rotation angle based on the number of menu items*/
    --angle: calc(360deg / 8 * var(--i));
    /* Calculate the distance from the center for each logo */
    --distance: 12.33vw;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 5;
    /* Calculate the position of the logo using trigonometric functions */
    top: calc(46% - var(--distance) * cos(var(--angle)));
    left: calc(46% + var(--distance) * sin(var(--angle)));
}

.CircularAreasMenu .AreaOption .icon {
    display: flex;
    width: 3.33vw;
    height: 3.33vw;
}

.CircularAreasMenu .littleCircle {
    display: flex;
    width: 0.8vw;
    height: 0.8vw;
}

.blueCircle {
    --i: 0;
}

.pinkCircle {
    --i: 1;
}

.yellowCircle {
    --i: 2;
}

.greenCircle {
    --i: 3;
}

.cianCircle {
    --i: 4;
}

.grayCircle {
    --i: 5;
}

.grayCircle2 {
    --i: 6;
}

.grayCircle3 {
    --i: 7;
}

.CircularAreasMenu .littleCircle {
    display: flex;
    position: absolute;
    /*Calculate the rotation angle based on the number of menu items*/
    --angle: calc(360deg / 8 * var(--i));
    /* Calculate the distance from the center for each logo */
    --distance: 9vw;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 5;
    /* Calculate the position of the logo using trigonometric functions */
    top: calc(49% - var(--distance) * cos(var(--angle)));
    left: calc(49% + var(--distance) * sin(var(--angle)));
}

.CircularAreasMenu.active .littleCircle,
.CircularAreasMenu.active .AreaOption {
    visibility: visible;
    opacity: 1;
}

.listAreasOptions {
    display: flex;
    font-size: 1.86vw;
    grid-column: 2/ span 10;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.listAreasOptions li {
    display: flex;
}

.listAreasOptions .MediumCircle {
    width: 1.6vw;
    margin-right: 1.6vw;
}

#AreaSelected {
    position: relative;
    display: grid;
    grid-template-columns: (12, 1fr);
    grid-template-rows: (6, 1fr);
    background-color: #001133;
    font-family: 'Martel';
    overflow: hidden;
    align-items: start;
}

#AreaSelected .star {
    bottom: -3.33vw;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    pointer-events: none;
    box-shadow: inset 0 0 0.66vw aliceblue;
    background-color: aliceblue;
}

.animated {
    opacity: 0;
    top: 6.66vw;
    position: relative;
    animation: slideAndFade 2.5s ease-in-out forwards;
    -webkit-animation: slideAndFade 2.5s ease-in-out forwards;
}

@keyframes slideAndFade {
    0% {
        opacity: 0;
        top: 3.33vw;
    }
    10% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

#AreaSelected .bubble {
    position: absolute;
    background: linear-gradient(to right, #005eff, #0073ff);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    pointer-events: none;
    z-index: 10;
    box-shadow: inset 0 0 0.66vw #00d9ff;
    animation: animateBubble 3s linear;
    -webkit-animation: animateBubble 3s linear;
}

#AreaSelected .bubble:before {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    transform: scale(0.18) translate(+70%, -70%);
    -webkit-transform: scale(0.18) translate(+70%, -70%);
    -moz-transform: scale(0.18) translate(+70%, -70%);
    -ms-transform: scale(0.18) translate(+70%, -70%);
    -o-transform: scale(0.18) translate(+70%, -70%);
    background: radial-gradient(whitesmoke, transparent);
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

@keyframes animateBubble {
    0% {
        opacity: 0;
        transform: translateY(0%);
        -webkit-transform: translateY(0%);
        -moz-transform: translateY(0%);
        -ms-transform: translateY(0%);
        -o-transform: translateY(0%);
    }
    5% {
        opacity: 1;
    }
    100% {
        opacity: 1;
        transform: translateY(2300%);
        -webkit-transform: translateY(2300%);
        -moz-transform: translateY(2300%);
        -ms-transform: translateY(2300%);
        -o-transform: translateY(2300%);
    }
}

#AreaSelected_De {
    margin-top: 3%;
    grid-column: 1 /span 12;
    grid-row: 1;
    font-size: 2vw;
    align-self: center;
    justify-self: center;
}

#AreaSelected_De,
#AreaSelected_Title,
.AreaSelected_DirSub,
.svgPart,
.iconPart,
.PhotoPart {
    z-index: 2;
}

#AreaSelected_Title {
    margin-bottom: 3%;
    grid-column: 1 /span 12;
    grid-row: 2;
    font-size: 2.6vw;
    align-self: center;
    justify-self: center;
}

.AreaSelected_DirSub {
    display: grid;
    grid-column: 1 / span 12;
    grid-template-columns: (12, 1fr);
}

.director {
    grid-row: 3;
}

.svgPart {
    display: grid;
    grid-column: 1 / span 6;
    font-family: 'Baloo 2';
    width: fit-content;
    background-image: url(../../../assets/images/about/backgroundSVGs/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 18%;
    margin-left: 8%;
}

.svgPart .Nombre {
    font-size: 2.26vw;
    font-weight: 800;
    letter-spacing: 0.33vw;
}

.svgPart .RolCarrera {
    font-size: 1.06vw;
    text-transform: uppercase;
    margin-bottom: 4%;
}

.svgPart p {
    max-width: 42vw;
}

.iconPart {
    grid-column: 7 / span 2;
    width: 10vw;
    display: grid;
    align-items: center;
    justify-self: center;
}

.DirSub_iconPartIMG {
    position: relative;
    left: 30%;
    width: 10vw;
    align-self: center;
    justify-self: center;
}

.animatedIcon {
    position: relative;
    animation: moveUpandDown 5s ease-in-out infinite;
    -webkit-animation: moveUpandDown 5s ease-in-out infinite;
}

@keyframes moveUpandDown {
    0%,
    100% {
        top: 0px;
    }
    50% {
        top: -3.33vw;
    }
}

.DirSub_PhotoPartIMG {
    width: 20vw;
}

.socialMedia {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
}

.socialMedia a {
    margin-right: 0.33vw;
    margin-top: -6.66vw;
}

.PhotoPart {
    grid-column: 9 / span 4;
    display: grid;
    align-items: center;
    justify-self: center;
    margin-right: 8%;
}

.simple-line {
    grid-row: 4;
    display: grid;
    grid-column: span 12;
    height: 0.33vw;
    margin: 5%;
    width: 90%;
    background-color: white;
    border-radius: 3.33vw;
    -webkit-border-radius: 3.33vw;
    -moz-border-radius: 3.33vw;
    -ms-border-radius: 3.33vw;
    -o-border-radius: 3.33vw;
}

.subdirector {
    grid-row: 5;
}

.selectedArea_Integrantes {
    grid-row: 6;
    grid-column: span 12;
    display: grid;
    background-color: #001133;
}

.selectedArea_Integrantes h3 {
    font-family: 'Roboto';
    font-weight: 700;
    grid-column: span 12;
    font-size: 2vw;
    text-align: center;
    text-decoration: underline;
    margin-top: 5%;
}

.selectedArea_Integrantes ul {
    display: grid;
    grid-column: span 12;
    grid-template-columns: (2, 1fr);
    font-size: larger;
}

.selectedArea_Integrantes li {
    width: fit-content;
    background: url(../../../assets/images/about/backgroundSVGs/VectorSmall.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 0 10% 8% 10%;
    margin: 5% auto 0 auto;
    display: flex;
    flex-direction: column;
    font-family: 'Baloo 2';
    z-index: 10;
}

.selectedArea_Integrantes li .fullName {
    font-weight: 800;
    letter-spacing: 0.33vw;
    text-align: center;
    font-size: 2.26vw;
}

.selectedArea_Integrantes li .position {
    text-align: center;
    text-transform: uppercase;
    font-size: 1.06vw;
}

.socialMediaIntegrante {
    display: flex;
}

.selectedArea_Integrantes .members,
.selectedArea_Integrantes .divider {
    background-color: #001133;
}

.socialMediaIntegrante a {
    margin-right: 0.33vw;
}


/*
@media screen and (max-width: 2561px) {
    .container_CircularAreasMenu_Title {
        font-size: 42px;
        letter-spacing: 2px;
    }
    .row1 {
        width: 120px;
        height: auto;
    }
    .row2 {
        width: 80px;
        height: auto;
    }
    .row3 {
        width: 40px;
        height: auto;
    }
    .CircularAreasMenu {
        width: 1200px;
        height: 1200px;
    }
    .animationRows {
        margin-top: -10%;
    }
    .CircularAreasMenu .toggle {
        width: 460px;
        height: 460px;
    }
    .CircularAreasMenu .toggle .logoSirio {
        width: 400px;
        height: auto;
    }
    .CircularAreasMenu .backgroundCircle.active {
        width: 980px;
        height: 980px;
    }
    .CircularAreasMenu .AreaOption {
        --distance: 375px;
        top: calc(46% - var(--distance) * cos(var(--angle)));
        left: calc(45.5% + var(--distance) * sin(var(--angle)));
    }
    .CircularAreasMenu .AreaOption .icon {
        width: 100px;
        height: 100px;
    }
    .CircularAreasMenu .littleCircle {
        width: 24px;
        height: 24px;
    }
    .CircularAreasMenu .littleCircle {
        --distance: 270px;
        top: calc(49% - var(--distance) * cos(var(--angle)));
        left: calc(48.7% + var(--distance) * sin(var(--angle)));
    }
    .listAreasOptions {
        font-size: 42px;
        gap: 64px;
    }
    .listAreasOptions .MediumCircle {
        width: 24px;
        margin-right: 24px;
    }
    #AreaSelected .star {
        bottom: -50px;
    }
    .animated {
        top: 100px;
    }
    #AreaSelected_De {
        font-size: 60px;
    }
    #AreaSelected_Title {
        font-size: 80px;
    }
    .svgPart .Nombre {
        font-size: 60px;
    }
    .svgPart .RolCarrera {
        font-size: 32px;
    }
    .svgPart .Descripcion {
        font-size: 25px;
    }
    .iconPart {
        width: 300px;
    }
    .DirSub_iconPartIMG {
        width: 300px;
    }
    .DirSub_PhotoPartIMG {
        width: 600px;
    }
    .socialMedia a {
        margin-right: 5px;
        margin-top: -100px;
    }
    .PhotoPart {
        margin-right: 8%;
    }
    .simple-line {
        grid-row: 4;
        display: grid;
        grid-column: span 12;
        height: 5px;
        margin: 5%;
        width: 90%;
        background-color: white;
        border-radius: 50px;
        -webkit-border-radius: 50px;
        -moz-border-radius: 50px;
        -ms-border-radius: 50px;
        -o-border-radius: 50px;
    }
    .subdirector {
        grid-row: 5;
    }
    .selectedArea_Integrantes {
        grid-row: 6;
        grid-column: span 12;
        display: grid;
        background-color: #001133;
    }
    .selectedArea_Integrantes h3 {
        font-family: 'Roboto';
        font-weight: 700;
        grid-column: span 12;
        font-size: 30px;
        text-align: center;
        text-decoration: underline;
        margin-top: 5%;
    }
    .selectedArea_Integrantes ul {
        display: grid;
        grid-column: span 12;
        grid-template-columns: (2, 1fr);
        font-size: larger;
    }
    .selectedArea_Integrantes li {
        width: fit-content;
        background: url(../../../assets/images/about/backgroundSVGs/VectorSmall.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        padding: 0 10% 8% 10%;
        margin: 5% auto 0 auto;
        display: flex;
        flex-direction: column;
        font-family: 'Baloo 2';
        z-index: 10;
    }
    .selectedArea_Integrantes li .fullName {
        font-weight: 800;
        letter-spacing: 5px;
        text-align: center;
        font-size: 34px;
    }
    .selectedArea_Integrantes li .position {
        text-align: center;
        text-transform: uppercase;
        font-size: 16px;
    }
    .socialMediaIntegrante {
        display: flex;
    }
    .selectedArea_Integrantes .members,
    .selectedArea_Integrantes .divider {
        background-color: #001133;
    }
    .socialMediaIntegrante a {
        margin-right: 5px;
    }
} */
