* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: aliceblue;
    list-style: none;
}

.directorio {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    font-family: 'Martel';
    align-items: center;
    text-align: center;
}

.directorio-title {
    grid-column: 1 / span 12;
    font-size: 60px;
    background-color: #0a0f18;
    justify-content: center;
}


/*MEMBERS*/

.members {
    grid-column: span 12;
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    background: #0D1525;
}

.cardMember {
    grid-column: span 6;
    background-image: url('../../../assets/figure.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    align-items: center;
    justify-items: center;
    padding-top: 7vw;
    padding-bottom: 15vw;
}

.memberInfo {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

.cardMember .profilePhoto {
    margin: 1vw;
    width: 12vw;
    height: auto;
}

.cardMember .fullName {
    padding-right: 2.2vw;
    padding-left: 2.2vw;
    font-size: 2.5vw;
    margin: 0.5vw;
}

.position {
    font-size: 1.5vw;
    padding-right: 2.2vw;
    padding-left: 2.2vw;
    margin-bottom: 1vw;
    margin-right: 5vw;
    margin-left: 5vw;
}

.description {
    font-size: 1.2vw;
    padding-right: 7vw;
    padding-left: 9vw;
}
.socialLinks{
  display: flex;

}
.socialLinks .socialLink {
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    border-radius: 100%;
    height: 3vw;
    width: auto;
}

@media screen and (max-width: 800px) {
  .cardMember{
     grid-column: span 12;
    padding-top: 11vw;
    padding-bottom: 25vw;
  }
  .memberInfo{
    padding-right: 6vw;
    padding-left: 8vw;
  }
  .socialLinks .socialLink {
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 1vw;
    margin-top: 1vw;
    border-radius: 100%;
    height: 7vw;
    width: auto;
  }
  .cardMember .profilePhoto {
    margin: 1vw;
    width: 24vw;
    height: auto;
  }
  .cardMember .fullName {
    padding-right: 2.2vw;
    padding-left: 2.2vw;
    font-size: 5vw;
    margin: 1vw;
  }

  .position {
    font-size: 3vw;
    padding-right: 2.2vw;
    padding-left: 2.2vw;
    margin-bottom: 1vw;
    margin-right: 5vw;
    margin-left: 5vw;
  }

  .description {
    font-size: 2.5vw;
    padding-right: 7vw;
    padding-left: 9vw;
  }

}

.container_AreasMenu {
    padding-top: 120px;
    display: grid;
    align-items: center;
    background: #0D1525;
}

.container_AreasMenu-tittle {
    grid-column: 2 / span 10;
    font-size: 22px;
    font-family: 'Roboto';
    font-weight: 600;
    justify-self: center;
    text-decoration: underline;
    padding-bottom: 30px;
}

.animation-rows .row {
    height: auto;
    margin: 0px auto;
}

.noDisplay .row {
    display: none;
}

.row1 {
    width: 60px;
}

.row2 {
    width: 40px;
}

.row3 {
    width: 20px;
}

.animation-rows {
    margin-top: -140px;
    display: flex;
    grid-column: 2/ span 10;
    width: auto;
    flex-direction: column;
    height: min-content;
    animation: moveUpDown 1s ease-in-out infinite alternate;
    -webkit-animation: moveUpDown 1s ease-in-out infinite alternate;
}

@keyframes moveUpDown {
    0% {
        transform: translateY(+250px);
        -webkit-transform: translateY(+250px);
        -moz-transform: translateY(+250px);
        -ms-transform: translateY(+250px);
        -o-transform: translateY(+250px);
    }
    100% {
        transform: translateY(+150px);
        -webkit-transform: translateY(+150px);
        -moz-transform: translateY(+150px);
        -ms-transform: translateY(+150px);
        -o-transform: translateY(+150px);
    }
}

.noDisplay {
    visibility: hidden;
    opacity: 0;
}

.AreasMenu {
    grid-column: 2 / span 10;
    position: relative;
    width: 600px;
    height: 600px;
    margin: auto;
    justify-content: center;
    align-items: center;
    display: flex;
}

a {
    height: min-content;
    width: min-content;
    display: flex;
}

.AreasMenu .toggle {
    display: flex;
    z-index: 10;
    position: absolute;
    width: 230px;
    height: 230px;
    display: flex;
    background-color: whitesmoke;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.AreasMenu .toggle .logoSirio {
    z-index: 10;
    width: 200px;
    height: auto;
    display: flex;
}

.AreasMenu .toggle.active {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}

.container-box {
    display: flex;
    background: conic-gradient(from 0deg, var(--color-stops));
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: absolute;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
}

.container-box.active {
    width: 500px;
    height: 500px;
    visibility: visible;
    opacity: 1;
}

.container-box.inactive {
    width: 0px;
    height: 0px;
    visibility: hidden;
    opacity: 0;
}

.AreasMenu .Area {
    display: flex;
    position: absolute;
    /*Calculate the rotation angle based on the number of menu items*/
    --angle: calc(360deg / 8 * var(--i));
    /* Calculate the distance from the center for each logo */
    --distance: 180px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 5;
    /* Calculate the position of the logo using trigonometric functions */
    top: calc(46% - var(--distance) * cos(var(--angle)));
    left: calc(46% + var(--distance) * sin(var(--angle)));
}

.Area .icon {
    display: flex;
    width: 50px;
    height: 50px;
}

.circle-menu {
    display: flex;
    width: 12px;
    height: 12px;
}

.bluecircle {
    --i: 0;
}

.pinkcircle {
    --i: 1;
}

.yellowcircle {
    --i: 2;
}

.greencircle {
    --i: 3;
}

.ciancircle {
    --i: 4;
}

.graycircle {
    --i: 5;
}

.graycircle2 {
    --i: 6;
}

.graycircle3 {
    --i: 7;
}

.AreasMenu .circle-menu {
    display: flex;
    position: absolute;
    /*Calculate the rotation angle based on the number of menu items*/
    --angle: calc(360deg / 8 * var(--i));
    /* Calculate the distance from the center for each logo */
    --distance: 135px;
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
    z-index: 5;
    /* Calculate the position of the logo using trigonometric functions */
    top: calc(49% - var(--distance) * cos(var(--angle)));
    left: calc(49% + var(--distance) * sin(var(--angle)));
}

.AreasMenu.active .circle-menu {
    visibility: visible;
    opacity: 1;
}

.AreasMenu.active .Area {
    visibility: visible;
    opacity: 1;
}

.lista_DescripcionAreas {
    display: flex;
    font-size: 28px;
    grid-column: 2/ span 10;
    gap: 32px;
    justify-content: center;
    align-items: center;
    padding: 0 10%;
    flex-wrap: wrap;
    margin-bottom: 3%;
}

.lista_DescripcionAreas li {
    display: flex;
}

.circle-list-area {
    width: 24px;
    margin-right: 24px;
}

#selectedAreaSECTION {
    display: grid;
    grid-template-columns: (12, 1fr);
    grid-template-rows: (6, 1fr);
    background-color: #001133;
    font-family: 'Martel';
}

span {
    position: absolute;
    bottom: -50px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    pointer-events: none;
    z-index: 900;
    box-shadow: inset 0 0 10px rgb(0, 110, 255);
    background-color: aliceblue;
    animation: animate 5000s linear infinite;
    -webkit-animation: animate 5000s linear infinite;
}

.animated {
    opacity: 0;
    top: 100px;
    position: relative;
    animation: slideAndFade 2.5s ease-in-out forwards;
    -webkit-animation: slideAndFade 2.5s ease-in-out forwards;
}

@keyframes slideAndFade {
    0% {
        opacity: 0;
        top: 50px;
    }
    100% {
        opacity: 1;
        top: 0;
    }
}

#selectedArea_De {
    margin-top: 3%;
    grid-column: 1 /span 12;
    grid-row: 1;
    font-size: 30px;
    align-self: center;
    justify-self: center;
}

#selectedArea_Title {
    margin-bottom: 3%;
    grid-column: 1 /span 12;
    grid-row: 2;
    font-size: 40px;
    align-self: center;
    justify-self: center;
}

.selectedArea_DirSub {
    display: grid;
    grid-column: 1 / span 12;
    grid-template-columns: (12, 1fr);
}

.director {
    grid-row: 3;
}

.DirSub_svgPart {
    display: grid;
    grid-column: 1 / span 6;
    font-family: 'Baloo 2';
    width: fit-content;
    background-image: url(../../../assets/images/about/backgroundSVGs/Vector.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    padding: 18%;
    margin-left: 8%;
}

.DirSub_svgPart_Nombre {
    font-size: 34px;
    font-weight: 800;
    letter-spacing: 5px;
}

.DirSub_svgPart_RolCarrera {
    font-size: 16px;
    text-transform: uppercase;
    margin-bottom: 4%;
}

.DirSub_svgPart p {
    max-width: 42vw;
}

.DirSub_iconPart {
    grid-column: 7 / span 2;
    width: 150px;
    display: grid;
    align-items: center;
    justify-self: center;
}

.DirSub_iconPartIMG {
    position: relative;
    left: 30%;
    width: 150px;
    align-self: center;
    justify-self: center;
}

.animatedIcon {
    position: relative;
    animation: moveUpandDown 5s ease-in-out infinite;
    -webkit-animation: moveUpandDown 5s ease-in-out infinite;
}

@keyframes moveUpandDown {
    0%,
    100% {
        top: 0px;
    }
    50% {
        top: -50px;
    }
}

#DirSub_PhotoPartIMG {
    width: 300px;
}

.social_media {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-self: center;
}

.social_media a {
    margin-right: 5px;
    margin-top: -100px;
}

.DirSub_PhotoPart {
    grid-column: 9 / span 4;
    display: grid;
    align-items: center;
    justify-self: center;
    margin-right: 8%;
}

.subdirector {
    grid-row: 5;
}

.selectedArea_Integrantes {
    grid-row: 6;
    display: grid;
}

.simple-line {
    grid-row: 4;
    display: grid;
    grid-column: 1 / span 12;
    height: 5px;
    margin: 5%;
    width: 90%;
    background-color: white;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}
