<div class="directorio">

    <div class="directorio-title">Directorio</div>
      <div class="areas-menu">
        <div class="animation">
          <img src="../../../assets/images/about/Icons/icon-arrow.png" alt="Your Logo" class="logo">
          <img src="../../../assets/images/about/Icons/icon-arrow.png" alt="Your Logo" class="logo2">
          <img src="../../../assets/images/about/Icons/icon-arrow.png" alt="Your Logo" class="logo3">
        </div>
        <ul class="menu">

            <div class="toggle">
                <img src="../../../assets/images/about/logo_Sirio.png" alt="logo Sirio">
            </div>

            <li style="--i: 0;" class="Desarrollo-Web">
                <a href="#">
                    <ion-icon name="code-outline"></ion-icon>
                </a>
            </li>
          <li style="--i: 1;" class="Disenio-Publicidad">
              <a href="#">
                  <ion-icon name="color-palette-outline"></ion-icon>
              </a>
          </li>
          <li style="--i: 2;" class="Mecanica">
              <a href="#">
                  <ion-icon name="build-outline"></ion-icon>
              </a>
          </li>
          <li style="--i: 3;" class="Electronica">
              <a href="#">
                  <ion-icon name="flash-outline"></ion-icon>
              </a>
          </li>
          <li style="--i: 4;" class="Control-Programacion">
              <a href="#">
                  <ion-icon name="settings-outline"></ion-icon>
              </a>
          </li>
          <li style="--i: 5;" class="Otros">
              <a href="#">
                  <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
              </a>
          </li>
          <li style="--i: 6;" class="Otros">
              <a href="#">
                  <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
              </a>
          </li>
          <li style="--i: 7;" class="Otros">
              <a href="#">
                  <ion-icon name="ellipsis-horizontal-outline"></ion-icon>
              </a>
          </li>

        </ul>
        <ul class="lista-areas">
          <li>
            <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#1451de" class="fill-231f20 fill-1286fa"></path></svg>
            <p>Desarrollo-Web</p>
          </li>
          <li>
            <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#de0d98" class="fill-231f20 fill-1286fa"></path></svg>
            <p>Disenio-Publicidad</p>
          </li>
          <li>
            <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#1fde11" class="fill-231f20 fill-1286fa"></path></svg>
            <p>Mecanica</p>
          </li>
          <li>
            <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#f1f503" class="fill-231f20 fill-1286fa"></path></svg>
            <p>Electronica</p>
          </li>
          <li>
            <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#03c1f5" class="fill-231f20 fill-1286fa"></path></svg>
            <p>Control-Programacion</p>
          </li>
          <li>
            <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#080708" class="fill-231f20"></path></svg>
            <p>Otros</p>
          </li>
          <li>
            <svg viewBox="0 0 8.829 8.829" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 8.829 8.829"><path d="M4.415 8.829A4.423 4.423 0 0 0 8.83 4.414C8.829 1.983 6.846 0 4.415 0S0 1.983 0 4.415a4.423 4.423 0 0 0 4.415 4.414z" fill-rule="evenodd" clip-rule="evenodd" fill="#080708" class="fill-231f20"></path></svg>
            <p>Otros</p>
          </li>


        </ul>
    </div>


</div>
