.grid-layout
{
    /*imagen del fondo*/
 background-image: url("../../../assets/images/footer/footer.png");
  grid-template-columns: repeat(12, 1fr);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}
#bloque-superior
{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}
#parte-izquierda
{
    /* arriba | derecha | abajo | izquierda */
    padding: 2em 8em 0 9em;
    font-size: 23px;
}
.image img
{
    width: 86px;
    height: 88px;
}
.correo
{
    text-decoration: none;
    color: white;
}
#parte-derecha
{
     /* top | right | bottom | left */
    padding: 2em 0 0 3em;
    font-size: 23px;
}
 
.enlace 
{
    text-decoration: none;
    color: white;
    position: relative;
}
/*Para que el tamaño ocupa solo hasta el contenido*/
.paginas { width: fit-content; }
.contactInfo{ width: fit-content;}
.hr{
    width:120%; 
    border-top: 3px solid ;
}
/*Para  copyright y redes sociales*/
#bloque-inferior{
  display: grid;
  grid-template-columns: repeat(2,1fr);
}
.copyright
{
  display: grid;
   /* top | right | bottom | left */
   padding: 3em 0 2em 9em;
    font-size: 23px;
}
.socialMedia{padding: 3em 0 1em 15em;}
.socialMedia img
{
  height: 7vh;
  padding: 1vh;
}
/*hover*/
.socialMedia img:hover
{
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.facebook img:hover{background-color: #3b5999;}
.instagram img:hover{ background-color: #e4405f;}
.twitter img:hover{background-color: #55acee;}
.linkedin img:hover{background-color: #0077B5;}
.enlace p:hover{color: blue;}
.correo:hover{color: blue;}
/*Responsive*/
@media screen and (max-width: 2560px)
{
    #parte-izquierda{    
        padding: 2em 0 0 12em;
        font-size: 30px;
    }
    #parte-derecha{
        padding: 2em 0 0 9em;
        font-size: 30px;
    }    
    .copyright
    {
        padding: 3em 0 2em 12em;
        font-size: 29px;
    }
    .socialMedia{padding: 3em 0 2em 24em;}
}
@media screen and (max-width: 2100px)
{
    #parte-izquierda
    {
        padding: 2em 0 0 11em;
        font-size: 25px;
    }
    #parte-derecha
    {
        padding: 2em 0 0 9em;
        font-size: 25px;
    }  
    .copyright
    {
        padding: 2em 0 2em 11em;
        font-size: 25px;
    }
    .socialMedia {padding: 2em 0 2em 20em;}
}
@media screen and (max-width: 1800px)
{
    #parte-izquierda
    {
        padding: 2em 0 0 11em;
        font-size: 20px;
    }
    #parte-derecha
    {
        padding: 2em 0 0 9em;
        font-size: 20px;
    }  
    .copyright
    {
        padding: 2em 0 2em 11em;
        font-size: 20px;
    }
    .socialMedia {padding: 2em 0 2em 20em; }
}
@media screen and (max-width: 1440px) 
{
    .image img
    {
        height: 9vh;
        width: 9vh;
    }
    #parte-izquierda
    {
        padding: 2em 0 0 9em;
        font-size: 18px;
    }
    #parte-derecha
    {
        padding: 2em 0 0 5em;
        font-size: 18px;
    }  
    .copyright
    {
        padding: 3em 0 2em 9em;
        font-size: 18px;
    }
    .socialMedia{padding: 3em 0 2em 15em;}
}
@media screen and (max-width: 1366px) 
{
        .image img
    {
        height: 8vh;
        width: 8vh;
    }
    #parte-izquierda
    {
        padding: 2em 0 0 9em;
        font-size: 17px;
    }
    #parte-derecha
    {
        padding: 2em 0 0 5em;
        font-size: 17px;
    }
    .copyright
    {
        padding: 2em 0 2em 9em;
        font-size: 17px;
    }
    .socialMedia{padding: 2em 0 2em 15em;}
}
@media screen and (max-width: 1100px) 
{
    .image img
    {
        height: 7vh;
        width: 7vh;
    }
    #parte-izquierda
    {
        padding: 2em 0 0 9em;
        font-size: 15px;
    }
    #parte-derecha
    {
        padding: 2em 0 0 5em;
        font-size: 15px;
    }
    .copyright
    {
        padding: 2em 0 2em 9em;
        font-size: 14px;
    }
    .socialMedia{padding: 2em 0 2em 12em;}
    .socialMedia img{height: 7vh;}
}
@media screen and (max-width: 1024px) 
{
    #parte-izquierda
    {
        padding: 2em 0 0 9em;
        font-size: 14px;
    }
    #parte-derecha{
        padding: 2em 0 0 5em;
        font-size: 14px;
    }
    .copyright
    {
        padding: 2em 0 2em 9em;
        font-size: 13px;
    }
    .socialMedia{padding: 2em 0 2em 11em; }
    .socialMedia img {height: 6vh; }
}
@media screen and (max-width:980px)
{
    #parte-izquierda
    {
        padding: 2em 0 0 9em;
        font-size: 13px;
    }
    #parte-derecha{
        padding: 2em 0 0 5em;
        font-size: 13px;
    }
    .copyright
    {
        padding: 3em 0 2em 9em;
        font-size: 12px;
    }
    .socialMedia{padding: 3em 0 2em 10em; }
    .socialMedia img{  height: 5.8vh;   }
}
@media screen and (max-width:800px)
{
    .image img
    {
        height: 6vh;
        width: 6vh;
    }
    #parte-izquierda
    {
        padding: 2em 0 0 9em;
        font-size: 11px;
    }
    #parte-derecha
    {
        padding: 2em 0 0 5em;
        font-size: 11px;
    }
    .copyright
    {
        padding: 3em 0 2em 9em;
        font-size: 10px;
    }
    .socialMedia {padding: 2em 0 2em 7em; }
    .socialMedia img {height: 5.3vh;  }
}
@media screen and (max-width: 720px) {
    #parte-izquierda
    {
         padding: 2em 0em 0em 7em;
        font-size: 11px;
    }
    #parte-derecha
    {
        padding: 2em 0 0 7em;
        font-size: 11px;
    }
    .copyright
    {
        padding: 2em 0 2em 8em;
        font-size: 8px;
    }
    .socialMedia {padding: 1em 0 2em 8em;}
    .socialMedia img{height: 5vh; }
}
@media screen and (max-width: 600px)
 {
    #parte-izquierda
    {
         padding: 2em 0em 0em 7em;
        font-size: 10px;
    }
    #parte-derecha{
        padding: 2em 0 0 7em;
        font-size: 10px;
    }
    .copyright
    {
        padding: 2em 0 2em 7em;
        font-size: 10px;
    }
    .socialMedia { padding: 1em 0 2em 5em;}
    .socialMedia img { height: 5vh;}
}
@media screen and (max-width: 425px) 
{
    #parte-izquierda
    {
         padding: 2em 0em 0em 7em;
        font-size: 9px;
    }
    #parte-derecha
    {
        padding: 2em 0 0 7em;
        font-size: 9px;
    }
    .copyright
    {
        padding: 3em 0 2em 7em;
        font-size: 9px;
    }
    .socialMedia{ padding: 2em 0 2em 4em; }
    .socialMedia img
    {
      height: 3.7vh;
      padding: 0.6vh;
    }
}
@media screen and (max-width: 375px) 
{
    #parte-izquierda
    {
        padding: 2em 0 0 5em;
        font-size: 8px;
    }
    .image img
    {
        width: 5vh;
        height: 5vh;
    }
    #parte-derecha
    {
        padding: 2em 0 0 5em;
        font-size: 8px;
    }
    .copyright
    {
        padding: 2em 0 2em 5em;
        font-size: 8px;
    }
    .socialMedia{padding: 1em 0 2em 3em;}
    .socialMedia img
    {
      height: 3vh;
      padding: 0.5vh;
    }
}
@media screen and (max-width: 320px) 
{
     .image img
    {
        height: 4.5vh;
        width: 4.5vh;
    }
    #parte-izquierda
    {
        padding: 2em 0 0 6em;
        font-size: 7px;
    }
    #parte-derecha
    {
        padding: 2em 0 0 5em;
        font-size: 7px;
    }
    .copyright
    {
        padding: 2em 0 2em 6em;
        font-size: 7px;
    }
    .socialMedia { padding: 1em 0 2em 2em;}
    .socialMedia img
    {
      height: 3vh;
      padding: 0.5vh;
    }
}
@media screen and (max-width: 280px) 
{
    .image img
    {
        height: 4vh;
        width: 4vh;
    }
    #parte-izquierda
    {
        padding: 2em 0 0 6em;
        font-size: 6px;
    }
    #parte-derecha
    {
        padding: 2em 0 0 5em;
        font-size: 6px;
    }
    .enlace{padding: 10em 0em 40em 0em;}
    .copyright
    {
        padding: 3em 0 2em 6em;
        font-size: 6px;
    }
    .socialMedia{padding: 1em 0 2em 2em;}
    .socialMedia img
    {
      height: 2.5vh;
      padding: 0.4vh;
    }
}
