.grid-layout
{
  background-image: url("../../../assets/images/footer/footer.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  color: white;
}
#bloque-superior{
  /*padre grid*/
}
#parte-izquierda{
  /*especificar sus columnas*/
}
#parte-derecha{
  /*especificar sus columnas*/
}
/*similar as la parte inferior*/
.socialMedia
{
  padding: 10px;
  
}
.socialMedia img{
  height: 50px;
  padding: 20px;
}
