<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Martel:wght@200&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">

<div class="grid-layout">

    <div id="bloque-superior">
        <div id="parte-izquierda">
            <div class="image">
                <a class="navbar-brand" routerLink="/Inicio">
                <img src="../../../assets/logo_Sirio.jpg" alt="logo de Sirio" width="86" height="88">
                </a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi corporis dolorem rem nemo voluptas possimus a cumque vel beatae, alias ab sapiente. Mollitia tempore, tenetur vitae incidunt esse quibusdam molestiae.</p>
              </div>
        
            <div class="contactInfo">
              <p>✉ Sirio@Sirio.com</p>
              <p>☏ +987 6541 3654</p>
            </div>
        
        </div>
        <div id="parte-derecha">

            <div class="paginas">
                <h1>Páginas</h1>
                <hr style="width:30%;text-align:left;margin-left:0">
               <a href="navbar.component.html"><p>Home </p></a>
               <a href="acerca.component.html"><p>Acerca de</p></a>
               <a href="proyecto.component.html"><p>Proyectos</p></a>
               <a href="diviertete.component.html"><p>Diviértete</p></a>
               <a href="noticias.component.html"><p>Noticias</p></a>
               <a href="contacto.component.html"><p>Contacto</p></a>
            </div>
        
        </div>
    </div>
    <div id="bloque-inferior">
        <div class="copyright">
            <p>Copyright © Sirio | UPC - Universidad Peruana de Ciencias Aplicadas</p>
        </div>
        <div class="socialMedia">
            <a target="_blank" href="https://es-la.facebook.com/"><img src="../../../assets/images/contact/fb.png"></a>
            <a target="_blank" href="https://twitter.com/"><img src="../../../assets/images/contact/tw.png"></a>
            <a target="_blank" href="https://linkedin.com/"><img src="../../../assets/images/contact/link.png"></a>
            <a target="_blank" href="https://www.instagram.com/"><img src="../../../assets/images/contact/ins.png"></a>
        </div>
    </div>

</div>
